{% extends "layouts/appLayout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/menu.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Update Credit</h1>
    <form action="{{ url_for('main.update_credit') }}" method="POST">
        <div>
            <label for="credit">Credit:</label>
            <input type="number" id="credit" name="credit" value="{{ credit }}" required>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
