{% extends "layouts/appLayout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/menu.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Menu Dimsum</h1>
    <div class="button-group">
        <a href="{{ url_for('main.home') }}" class="btn btn-back">Cancel</a>
        {% if session.get('logged_in') %}
            <a href="{{ url_for('main.tambah_menu') }}" class="btn btn-primary">Add New Menu Item</a>
        {% endif %}
    </div>
    <ul>
      {% for item in menu_items %}
      <li>
        <div class="menu-item">Nama {{ item.1 }}</div>
        <div class="price">Harga: Rp {{ item.4 }}</div>
        {% if session.get('logged_in') %}
        <div class="price">Stok: {{ item.2 }}</div>
        <div class="price">Harga Beli: Rp {{ item.3 }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
